export KARPENTER_NAMESPACE=karpenter
export KARPENTER_VERSION=v0.32.2
export K8S_VERSION=1.28

# if you are not using standard partitions, you may need to configure to aws-cn / aws-us-gov
export AWS_PARTITION="aws" 

export CLUSTER_NAME="k7r-${USER}"
export STACK_NAME="${CLUSTER_NAME}"

export AWS_DEFAULT_REGION="us-west-2"
export AWS_ACCOUNT_ID="$(aws sts get-caller-identity --query Account --output text)"
export TEMPOUT=$(mktemp)


