.env*
.openshift*

install-config.yaml

bin/oc
bin/openshift-install
bin/kubectl
bin/ccoctl

bootstrap.tfvars.json
cluster.tfvars.json
terraform.*
metadata.json
tls
terraform
auth


.*.json
.*.csv

cco-outputs-irsa
ccoctl-output
credentials-requests
.*.yaml
